/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3.5px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}

/* Slider */
.slider {
  appearance: none;
  background-color: #d9d9d9;
  height: 0.6rem;
  cursor: pointer;
  background-image: linear-gradient(#375EF9, #375EF9);
}

.slider:hover {
  background-image: linear-gradient(#2646c5, #2646c5);
}

.slider,
.slider:hover {
  background-size: 0%;
  background-repeat: no-repeat;
}

.slider:hover,
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -1px;
  width: 1.1rem;
  height: 1.1rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px #a3a3a3;
}

.slider,
::-webkit-slider-thumb {
  border-radius: 50px;
}
