#####################################################################
# Editor directories and files

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

#####################################################################
# For React

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

#####################################################################
# For server

build
lib
out
*.jar
*.tar
*.tar.gz
*.zip
server/main/private
server/sessions
__pycache__
server/config.json
server/private
server/test-results
server/.session

#####################################################################
# General

*.tmp
*.md5

# Ignore .env files
.env
